# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
InstrumentalBoard/Builds/MacOSX/build
# InstrumentalBoard/Builds/VisualStudio2019/?
WhammyPlug/Builds/MacOSX/build
# WhammyPlug/Builds/VisualStudio2019/?
DFXerPlug/Builds/MacOSX/build
# DFXerPlug/Builds/VisualStudio2019/?

# XCode preference
InstrumentalBoard/Builds/MacOSX/DerivedData
WhammyPlug/Builds/MacOSX/DerivedData
DFXerPlug/Builds/MacOSX/DerivedData

# temp ignored libs
Libs/Sources/SoundTouch/DerivedData
Libs/Sources/.smbPitchShiftProject-renew

# dependencies


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
